@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: rgb(26, 26, 27);
    font-family: 'Nunito', sans-serif;

}
#fav-list{
    display: none;
    color: white;
}

#header{
    color: white;
    display: flex;
    height: 3.5rem;
    align-items: center;
    justify-content: space-between ;
    padding-top: 1rem;
}
#header div{
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

#header a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

#search-container{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    
}
#search-container #search{
    width: 100%;
    height: 100%;
    font-size: 2rem;
    border: none;
    background-color: rgb(223, 223, 223);
    padding: 1rem;
    border-radius: 3rem;
    outline: none;
}


#display{
    position: absolute; 
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 95vw;
    min-height: 60vh;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.eachMeal{
    width:380px;
    min-height: 470px;
    margin: 1rem;
    border-radius: 1.5rem;
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.eachMeal div{
    width:300px;

}

.eachMeal img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.meal-details{
    margin-top: 1rem;
    height: 25%;
    font-size: 1.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.meal-details input{
    width: 10rem;
    background-color: #404041;
    border: none;
    margin-top: .5rem;
    padding: .5rem;
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    cursor: pointer;
}
.meal-details input:hover{
    background-color: white;
    color: black;
}

.found-none{
    color: white;
}
#container{
    display: flex;
    justify-content: center;
}
#recipe-container{
    margin-top: 4rem;
    width: 95%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#recipe-container img{
    border-radius: 50%;
    width: 300px;
}
#recipe-container p{
    margin:1rem;
    font-size: 1.1rem;
}
#recipe-container a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    border: 1px solid white;
    padding: .7rem;
    margin-bottom: 1rem;
}
#recipe-container a:hover{
    background-color: white;
    color: black;
}

.meal-image{
    width: 200px;
}

.image-container{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.image-container div{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:900px) {
    #search-container{

        width: 65vw;
        height: 3rem;
        

    }
    #search-container #search
    {
        font-size: 1.7rem;
    }


}

@media screen and (max-width:600px) {
        #search-container{

            width: 75vw;
            height: 2.2rem;
            

        }
        #search-container #search
        {
            font-size: 1.3rem;
        }
    
    
}
